body {
  background-color: #6e0b14;
  text-align: center;
}
button {
  margin-bottom: 2%;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}
button:hover {
  background-color: lightgrey;
  color: #6e0b14;


}


