<div class='section menu'>
  <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <div class="topnav">
      <a href="https://www.fetysh.club/" class="active">Home</a>
      <a href="https://airbnb-thesleeplessone.herokuapp.com/">Contact</a>
      <a href="https://linkedin.com/in/etienne-cherri/">About</a>
    </div>
  </nav>
</div>
