<div class='section_menu'>
  <nav class="navbar sticky-top navbar-expand-lg navbar-custom">
    <div class="topnav">
      <%= link_to "Cookbook", recipes_path %>
      <%= link_to  "New Recipe", new_recipe_path %>
      <%= link_to "Home", root_path %>
      <%= link_to "Contact", new_rails_conductor_inbound_email_path %>

    </div>
  </nav>
</div>
