<h1>home web app</h1>
<p>this page is to explain the app, how to get it, why to get it, and how to use it:
simple and easy, its save time, keep track of your recipes and all their cost.</p>
<h3>need a link to "Home cookbook"</h3>
<h3>need a link to "tutorial"</h3>
<h3>need a link to "seasons"</h3>
<h3>find a way to use all customer as commercials !!</h3>
<%= link_to "Cookbook", recipes_path %>


<div class='section_banner'>
  <div class="banner">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>Créateur de moments <strong>inoubliables</strong></h1>
    <p>VIP-COOK est une application qui va vous faire gagner du temps et de l'argent.</p>
  </div>
</div>
<div class='section_content'>
  <div class="content">
    <a href="#" class="button">JE DECOUVRE</a>
    <h1>how does it work ?</h1>
    <p>VIP-COOK .</p>
  </div>
</div>
